<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset="UTF-8" />
    <title th:text="#{error.title.UAEE}">User Already Exists!</title>
    <link rel="stylesheet" href="../static/css/index.css" th:href="@{css/index.css}" />
    <link rel="stylesheet" href="../static/css/regist.css" th:href="@{css/error.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  </head>
  <body class="w3-container w3-text-red">
    <h1 id="error" th:text="#{error.UAEE.h1}">This user is already in our database!</h1>
  </body>
</html>