body {
	width: 100%;
}
header {
	height: 50px;
	border-radius: 30px 30px 0px 0px;
}
form {
	border-color: red;
	border-left: 3px solid red;
	border-bottom: 3px solid red;
	border-right: 3px solid red;
	border-radius: 0px 0px 30px 30px;
}
#leftContainer {
	width:70%;
	float: left;
}
#rightContainer {
	float: left;
	width: 30%;
}
span {
	font-size: 20px;
	text-transform: uppercase;
	display: none;
}
#Logo {
	display: inline;
}
@media screen and (min-width: 800px) {
	body {
		width: 50%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
	span {
		display: inline;
	}
	#Logo {
		display: none;
	}
}
#movieImage {
	width: 50%;
	float: left;
	border-radius: 0px 0px 0px 30px;
}
#gameImage {
	width: 50%;
	border-radius: 0px 0px 30px 0px;	
}
.formErrorMessage {
	color: red;
}