body {
	border: 3px solid red;
	border-radius: 30px;
	height: auto;
}
#DataContainer {
	border-left: 3px solid red;
	border-right:  3px solid red;
	border-bottom: 3px solid red;
	border-radius: 0px 0px 30px 30px;
}
#main {
	width: 100%;
	border: 3px solid red;
	border-top: 0px;
}
img {
	width: 100%;
	height: 300px;
	display: none;
}
#mainName {
	width: 50%;
	float: right;
	text-align: center;
	outline: 3px solid red;
}
#mainCreator {
	width: 50%;
	float: right;
	text-align: center;
	outline: 3px solid red;
}
#releaseDate {
	width: 100%;
	text-align: center;
	border-bottom: 3px solid red;
	display: none;
}
#descContainer {
	width: 100%;
	text-align: left;
	display: none;
}
#footer-container {
	border-top: 3px solid red;
	width: 100%;
}
#left-button {
	width: 50%;
	float: left;
}
#right-button {
	width: 50%;
	float: none;
}
a {
	position: static;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

@media screen and (min-width: 800px) {
	img {
		display: block;
		width: 100%;
		height: 300px;
	}
	#releaseDate {
		display: block;
		width: 100%;
		text-align: center;
		border-bottom: 3px solid red;
	}
	#descContainer {
		width: 100%;
		text-align: left;
		display: block;
	}
}