<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">  

  <head>
    <meta charset="UTF-8" />
    <title th:text="#{app.Title}">Main Menu</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="../static/css/index.css" th:href="@{css/index.css}" />
    <link rel="stylesheet" href="../static/css/search.css" th:href="@{css/search.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  </head>
  <body>
    <header class="w3-container w3-red">
      <div id="leftContainer">
        <span>Find</span> <span>Your</span> <span>Entertainment</span>
        <span id="Logo">FYE</span>
      </div>
      <div id="rightContainer">
        <a href="back" th:href="@{back}"><i class="material-icons" style="font-size:36px">close</i></a>
      </div>
    </header>
    <div id="container">
      <img id="image" alt="Image of the searched game" th:src="'/images/games/' + ${gameImage}">
      <div id="main">
        <span class="w3-red" id="mainName" th:text="${gameName}">GameName</span>
        <span class="w3-red" id="mainCreator" th:text="${companyName}">CompanyName</span>
      </div>
      <div id="releaseDate">
        <span class="w3-text-red" th:text="${releaseDate}">ReleaseDate</span>
      </div>
      <div id="descContainer">
        <span class="w3-text-red" th:text="${shortDescription}">ShortDescription</span>
      </div>
      <div id="footer-container">
        <span id="left-button">
          <a href="movie" th:href="@{game}"><i class="material-icons w3-text-red" style="font-size:36px">cached</i></a>
        </span>
        <span id="right-button">
          <a href="back" th:href="@{back}"><i class="material-icons w3-text-red" style="font-size:36px">done</i></a>
        </span>
      </div>
    </div>
  </body>
  
</html>