<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset="UTF-8" />
	<title th:text="#{app.Title}">Registration</title>
	<link rel="stylesheet" href="../static/css/index.css" th:href="@{css/index.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  </head>
  
  <body>
    <header class="w3-container w3-red">
      <div id="leftContainer">
        <span>Find</span> <span>Your</span> <span>Entertainment</span>
        <span id="Logo">FYE</span>
      </div>
      <div id="rightContainer">
        <a id="back" href="logout" th:href="@{logout}"><i class="material-icons" style="font-size:36px">close</i></a>
      </div>
    </header>
  	<form class="w3-container" method="post" th:action="@{/login}" action="/login" th:object="${loginForm}">
  	
  	  <input type="hidden" />
  	  
  	  <label class="w3-text-red" th:text="#{loginForm.userName}" />
  	  <div class="formErrorMessage" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" th:text="#{loginForm.userName.error}">Field Error</div>
  	  <input class="w3-input w3-sand w3-hover-red" type="text" th:field="*{userName}" name="userName" />

  	  <label class="w3-text-red" th:text="#{loginForm.password}" />
  	  <div class="formErrorMessage" th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:text="#{loginForm.password.error}">Field Error</div>
  	  <input class="w3-input w3-sand w3-hover-red" type="password" th:field="*{password}" name="password" />
  	  
  	  <div class="formErrorMessage" th:if="${#fields.hasErrors('global')}" th:errors="*{global}">Form Error</div>
  	  <button class="w3-btn w3-red" type="submit" th:text="#{loginForm.submit}">Registration</button>
  	
  	</form>

  </body>
</html>