<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">  

  <head>
    <meta charset="UTF-8" />
    <title th:text="#{app.Title}">Main Menu</title>
    <link rel="stylesheet" href="../static/css/index.css" th:href="@{css/index.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <body>
    <header class="w3-container w3-red">
      <div id="leftContainer">
        <span>Find</span> <span>Your</span> <span>Entertainment</span>
        <span id="Logo">FYE</span>
      </div>
      <div id="rightContainer">
        <a href="registration" th:href="@{registration}"><i class="material-icons" style="font-size:36px">person_add</i></a>
        <a href="login" th:href="@{login}"><i class="material-icons" style="font-size:36px">folder_shared</i></a>
      </div>
    </header>
    <div id="container">
      <img id="movieImage" th:src="@{images/movie.jpg}" src="../static/images/movie.jpg" alt="Movies"/>
      <img id="gameImage" th:src="@{images/game.jpg}" src="../static/images/game.jpg" alt="Games"/>
    </div>
  </body>
  
</html>